@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
       Kayıtlarda Böyle Bir Kitap Bulunamadı.
    </h2>
    <form action="./Emanet/Index">

        <input type="submit" value="geri" />
    </form>
     
</body>
</html>